<div>
  <h1>{{name}}</h1>
  <h2>by <span>{{author}}</span></h2>
  <h3>#{{id}}</h3>
  <h2>Duration : {{duration}} seconds</h2>
  <p>{{description}}</p>
  <a href="{{url}}" download>Download</a>
  <h2>Tags</h2>
  <ul>
    {{#each tags}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <h2>Collections</h2>
  <ul>
    {{#each collections}}
      <li>{{this.name}}</li>
    {{/each}}
  </ul>
</div>
